@{
    ViewBag.Title = "Remove";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MVC.Models.ReestrModel

@{
    ViewBag.Title = "Удалить";
}

<h3>Удалить "@Html.DisplayFor(model => model.Url)"?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ReestrId)
    @Html.HiddenFor(model => model.Url)
    @Html.HiddenFor(model => model.Depth)
    <p>
        <input type="submit" value="Удалить" />
        @Html.ActionLink("Отмена", "Index")
    </p>
}

